In [1]:
if 10 > 20:
    print("Ten is Less than twenty")
    
# Comments are part of the executables in python

""" 
This is a multiple line
comments that can go
beyond a single line
"""

# VARIABLE IN PYTHON

x = 12
y = 13
z = "Abraham"
print(x)
print(y)

12
13

In [2]:
print(type(x))

<class 'int'>

In [4]:
z = "Abraham"
print(type(z))

<class 'str'>

In [5]:
# Casting

x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

In [6]:
x, y, z = "Michael", "Paul", "James"
print(x)
print(y)
print(z)

Michael
Paul
James

In [7]:
x = y = z = "Michael"
print(x)
print(y)
print(z)

Michael
Michael
Michael

In [ ]:
# Python Data Type

# Text Type - String - e.g "Samuel", 

# Numeric Type - Int e.g 10, Float e.g 10.4 and Complex -negative

# Boolean Type - TRUE or FALSE,

# Binary Type - Bytes and memoryview

# None Type - for Null value - NoneType

# Sequence Type - List, Tuple and Range

In [11]:
x = 20j

print(x)

20j

In [20]:
fruits = ["Apple", "Banana", "Orange", "Mango"] #List
print(fruits[3])

Mango

In [ ]:
# Indexing starts from Zero - 0, 1, 2, 3

In [21]:
fruits = ("Apple", "Banana", "Orange", "Mango") # tuple

# Dict

x = {"Name" : "James", "Age" : 36}

y = None

print(type(y))

<class 'NoneType'>

In [22]:
# String - Multiline Strings

d = 'Out of Order'

e = """This is a multi Variable
The multiline accepts strings as multiple line of text
You can add as many as line as you want. It just like
typing a note or memo or something sha...
"""
print(d)
print(e)

Out of Order
This is a multi Variable
The multiline accepts strings as multiple line of text
You can add as many as line as you want. It just like
typing a note or memo or something sha...

In [23]:
# Modify String

# Upper  #Lower

text1 = "Hello, World"
print(text1.upper())

HELLO, WORLD

In [24]:
text2 = "HELLO, WORLD"
print(text2.lower())

hello, world

In [31]:
text3 = "     Mobolaji Johnson"
print(text3.strip())

Mobolaji Johnson

In [33]:
text4 = "Emmanuel Chukwuemeka"
print(len(text4))

20

In [36]:
text5 = "Hello! Paul"
print(text5.replace("H", "Y"))

Yello! Paul

In [39]:
# Concatenating Strings

text6 = "Emmanuel"
text7 = "Putin is"
age = 41
txtjoin = text6 + text7, age
print(txtjoin)

('EmmanuelPutin is', 41)

In [46]:
age = 41
mytxt = "Emmanuel Putin is {}"
print(mytxt.format(age))

Emmanuel Putin is 41

In [47]:
Quantity = 10
Itemno = 201
Price = 560.23
myOrder = "I want {} pieces of item {} for {} Naira"
print(myOrder.format(Quantity, Itemno, Price))

I want 10 pieces of item 201 for 560.23 Naira

In [50]:
Qty = 12
No = 223
Amount = 1560.23
myOrder2 = "I want to pay {2} Naira for {0} pieces of item {1}"
print(myOrder2.format(Qty, No, Amount))

I want to pay 1560.23 Naira for 12 pieces of item 223

In [51]:
# Python Operators

# Arithmetic Operators
# Assignment Operators
# Comparison Operators
# Logical Operators
# Identity Operators
# Membership Operators


#Modulus %  x % y
y = 10
x = 3

print(y % x)

1

In [52]:
# Exponentiation

a = 10
b = 2
print(a ** b)

100

In [ ]:
# Assignment Operator

x = 5

x += 5  # x = x + 5

x -= 5  # x = x - 5

x *= 5  # x = x * 5

In [59]:
# Comparison Operators in Python

c = 5
d = 6
print(c==d)

# == double equal mean equal to

False

In [60]:
c = 5
d = 6
print(c!=d)

# exclamation and equal sign means not equal to

True

In [ ]:
# Greater than  >
# Less Than  <
# Greater than or equal to   >=
# Less than or equal to    <=